<nav class="navbar" *ngIf="!isAdminDashboard()">
  <div class="navbar-brand">
    <a routerLink="/" class="navbar-logo-link">
      <img src="assets/websitelogo.png" alt="VKFlights Logo" class="navbar-logo" />
    </a>
    
  </div>
  <ul class="navbar-menu">
    <li><a routerLink="/" routerLinkActive="">Home</a></li>
    <li><a routerLink="/deals" routerLinkActive="active">Deals</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li *ngIf="!isLoggedIn"><a routerLink="/login" routerLinkActive="active">Login</a></li>
    <li *ngIf="isLoggedIn">
      <a routerLink="/dashboard" routerLinkActive="active" class="profile-link" title="Profile">
        <i class="fa fa-user-circle profile-icon"></i>
      </a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>